@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

:root {
    --text-color: #ff5821;
}

.container {
    padding: 0px 180px;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #39312f;
    height: 50px;
}

.email {
    display: flex;
    align-items: center;
}

.contact-email {
    margin-right: 20px;
    font-size: 14px;
    font-style: normal;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.contact-email:hover {
    color: var(--text-color);
    cursor: pointer;
}

.contact-email .email-icon {
    color: var(--text-color);
    margin-right: 3px;
}

.number {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
}

.mobile-icon {
    color: var(--text-color);
    margin-right: 3px;
}

.get-started-btn {
    font-size: 14px;
    padding: 16px;
    color: #fff;
    background-color: var(--text-color);
    border: none;
    font-family: "Open Sans", sans-serif;
}

.get-started-btn:hover {
    cursor: pointer;
    background-color: #ef531f;
}

/* sub-header */

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.sub-header a {
    font-size: 28px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #635551;
    text-decoration: none;
}

.sub-header ul {
    display: flex;
    list-style-type: none;
}

.sub-header ul li {

    margin-left: 45px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.sub-header ul li:hover {
    color: var(--text-color);
    cursor: pointer;
}

/* Hero-Section */

.hero-bg {
    background-image: url(../images/hero-bg\ \(1\).jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.hero-bg::before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero-section {
    position: absolute;
    top: 200px;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 65px;
    color: #fff;
}

.hero-section p {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}

.hero-btn {
    display: flex;
    align-items: center;
}

.right-arrow {
    font-size: 24px;
    background: var(--text-color);
    color: #fff;
    border-radius: 50px;
    position: absolute;
    padding: 15px;
}

.btn {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 11px 30px;
    letter-spacing: 1px;
    border-radius: 0 50px 50px 0;
    position: relative;
    border: none;
    margin-left: 40px;
    color: #fff;
    background: #584b48;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--text-color);
}

/* cards */

.cards {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -7%;
    margin-left: 4%;
    width: 90%;
}

.flexor-card {
    padding: 30px;
    border-radius: 4px;
    background-color: var(--text-color);
    color: #fff;
}

.why-us h1 {
    font-weight: 700;
    font-size: 34px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}

.why-us p {
    font-family: "Open Sans", sans-serif;
    ;
    margin-bottom: 30px;

}

.learn-more button {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin-left: 90px;
}

.learn-more button:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--text-color);
}

.sit-card {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    height: 220px;
}

.sit-card-text .receipt {
    font-size: 40px;
    color: #ff5821;
    margin-bottom: 30px;
}

.sit-card-text h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}

.sit-card-text p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #716f6f;
}

.pan-card {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    height: 220px;
}

.pan-card-text .cube {
    font-size: 40px;
    color: #ff5821;
    margin-bottom: 30px;
}

.pan-card-text h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}

.pan-card-text p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #716f6f;
}

.aut-card {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    height: 220px;
}

.aut-card-text .image {
    font-size: 40px;
    color: #ff5821;
    margin-bottom: 30px;
}

.aut-card-text h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}

.aut-card-text p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #716f6f;
}

/* about-section */

.about-section {
    display: flex;
    margin-top: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFF9F7;
}

.about-us {
    padding: 60px 0;
    margin-left: 30px;
}

.about-us span {
    font-size: 18px;
    color: #7f6d68;
    font-family: "Raleway", sans-serif;
}

.about-us h1 {
    font-size: 28px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #554945;
    margin: 30px 0;
}

.about-us p {
    color: #313030;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.about-card {
    display: flex;

}

.iconify-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5821;
    font-size: 32px;
    width: 64px;
    height: 64px;
    border: 2px solid #ffcbba;
    border-radius: 50px;
    background: #fff;
    margin-right: 20px;
}

.iconify-icon:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: #fff;
}

.lorem-card h3 {
    color: #343a40;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.lorem-card h3:hover {
    cursor: pointer;
    color: var(--text-color);
}

.lorem-card p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #313030;
}

.nemo-card h3 {
    color: #343a40;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

/* client-img */

.client-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.client-img img {
    width: 100px;
    transition: transform 300ms;
    margin: 0px 50px;
    filter: gray;
    -webkit-filter: grayscale(1.1);
}

.client-img img:hover {
    transform: scale(1.1);
    filter: none;
}

/* services-section */

.services-section {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #FFF9F7;
}

.services-section-text {
    text-align: center;
    margin-bottom: 70px;
}

.services-section-text h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.services-section-text p {
    font-family: "Open Sans", sans-serif;
    color: #313030;
}

.services-cards {
    display: flex;
    justify-content: center;
    margin: 70px 0;
    position: relative;
}

.services-card {
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100px;
    margin: 0px 25px;
}

.services-card .services-icon {
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: #ff5821;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: -45px;
    left: 277px;
}


.services-card:hover {
    color: var(--text-color);
}

.services-icon:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--text-color);
    border: 1px solid #ef531f;
}

.services-card {
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100px;
}


.card-icon {
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: #ff5821;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: -45px;
    left: 740px;
}

.card-icon:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--text-color);
    border: 1px solid #ef531f;
}

.bar-icon {
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: #ff5821;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: -45px;
    left: 1180px;
}

.bar-icon:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--text-color);
    border: 1px solid #ef531f;
}


.services-card h2 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}


.services-card p {
    line-height: 24px;
    font-size: 14px;
    color: #313030;
    font-family: "Open Sans", sans-serif;
}

.values-img {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.values {
    display: flex;
    justify-content: center;
}

.image-1 {
    width: 628px;
    height: 400px;
}

.image-2 {
    width: 628px;
    height: 400px;
    margin-left: 40px;
}

.card-pg {
    padding: 30px 30px;
    position: absolute;
    border-radius: 5px;
    top: 235px;
    left: 330px;
    background-color: white;
}

.card-pg h5 {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #473d3a;
    margin-bottom: 15px;
}

.card-pg p {
    font-family: "Open Sans", sans-serif;
    color: #4b4949;
}

.read-more {
    margin-top: 15px;
}

.read-more a {
    color: #656262;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
}

.read-more a:hover {
    cursor: pointer;
    border-bottom: 1px solid #e8592a;
}

.arrow {
    vertical-align: bottom;
    font-weight: normal;
    color: #656262;
}

.card-pg:hover h5 {

    cursor: pointer;
    color: #eb511d;
}

.plan {
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
    position: absolute;
    left: 1025px;
    top: 235px;
}

.plan h3 {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #473d3a;
    margin-bottom: 15px;

}

.plan p {
    font-family: "Open Sans", sans-serif;
    color: #4b4949;
}

.plan:hover h3 {
    color: #e8592a;
}

.values-1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.card-pg-2 {
    padding: 30px 30px;
    position: absolute;
    border-radius: 5px;
    top: 200px;
    left: 150px;
    background-color: white;
}

.card-pg-2 h5 {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #473d3a;
    margin-bottom: 15px;
}

.card-pg-2 p {
    font-family: "Open Sans", sans-serif;
    color: #4b4949;
}

.card-pg-2:hover h5 {
    color: #e8592a;
}

.care {
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
    position: absolute;
    left: 840px;
    top: 200px;
}

.care h3 {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #473d3a;
    margin-bottom: 15px;
}

.care p {
    font-family: "Open Sans", sans-serif;
    color: #4b4949;
}

.care:hover h3 {
    color: #e8592a;
}

/* testimonials-bg */

.testimonials-bg {
    padding: 80px 0;
    background-image: url(../images/testimonials-bg.jpg);
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center center;
    height: 30vh;
    position: relative;
}

.testimonials-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}



.testimonials {
    text-align: center;
    color: #fff;
}

.testimonials img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}

.testimonials h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

.testimonials h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
    font-family: "Raleway", sans-serif;
}

.testimonials p {
    font-size: 14px;
    color: #eee;
    font-family: "Open Sans", sans-serif;
}

.bxs {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    vertical-align: bottom;
}

.bx {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    vertical-align: top;
}

/* Portfolio */

.portfolio {
    margin: 50px 0;
}

.portfolio-text {
    text-align: center;
}

.portfolio-text h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.portfolio-text p {
    font-family: "Open Sans", sans-serif;
    color: #313030;
}

.all-card {
    margin: 30px 0;
}

.all-card ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.all-card ul li {
    margin: 0 20px;
}

.all {
    cursor: pointer;
    padding: 10px 20px 12px 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #313030;
    border-radius: 50px;
    color: #ff5821;
    background: #fff1ed;
}

.app {
    cursor: pointer;
    padding: 10px 20px 12px 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #313030;
    border-radius: 50px;
}

.app:hover {
    color: #ff5821;
    background: #fff1ed;
}

.card {
    cursor: pointer;
    padding: 10px 20px 12px 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #313030;
    border-radius: 50px;
}

.card:hover {
    color: #ff5821;
    background: #fff1ed;
}

.web {
    cursor: pointer;
    padding: 10px 20px 12px 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #313030;
    border-radius: 50px;
}

.web:hover {
    color: #ff5821;
    background: #fff1ed;
}


.portfolio-1 {
    display: flex;
    justify-content: center;
}

.portfolio-img {
    position: relative;
    width: 50%;
    max-width: 300px;
    margin: 0px 70px;
    margin-bottom: 30px;
}

.image {
    display: block;
    width: 410px;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 390px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.portfolio-img:hover .overlay {
    opacity: 1;
}

.search {
    display: flex;
    justify-content: end;
    font-size: 30px;
}

.search .plus:hover {
    color: var(--text-color);
    cursor: pointer;
}

.link:hover {
    color: var(--text-color);
    cursor: pointer;
}

/* team-section */

.team-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFF9F7;
}

.team-section-text {
    text-align: center;
}

.team-section-text h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.team-section-text p {
    font-family: "Open Sans", sans-serif;
    color: #313030;
}

.team-img {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.team-card img {
    width: 310px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
    margin: 0px 10px;
}

.team-card-text {
    padding: 25px 15px;
    background: #fff;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -5px;
    margin-left: 8px;
    width: 281px;
}

.team-card-text h1 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #473d3a;
    font-family: "Raleway", sans-serif;
}

.team-card-text span {
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #989595;
}

/* Pricing-Sectoin */

.pricing-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing-section-text {
    text-align: center;
}

.pricing-section-text h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.pricing-section-text p {
    font-family: "Open Sans", sans-serif;
    color: #313030;
    margin-bottom: 50px;
}

.pricing-cards {
    display: flex;
    justify-content: center;

}

.pricing-card {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 270px;
    margin: 0px 18px;
}

.pricing-card h1 {
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #656262;
    background: #f8f8f8;
}

.pricing-card h3 {
    font-size: 36px;
    color: #ff5821;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.pricing-card h3 sup {
    font-size: 20px;
    margin-right: 3px;
}

.pricing-card h3 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing-card ul li {
    list-style-type: none;
    line-height: 20px;
    font-size: 14px;
    color: #313030;
    padding-bottom: 16px;
    font-family: "Open Sans", sans-serif;
}

.mi {
    text-decoration: line-through;
    color: #ccc !important;
}

.buy-now {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
}

.buy-now button {
    background: #ff5821;
    padding: 6px 35px 8px 35px;
    border-radius: 4px;
    border: none;
    color: #fff;
    ;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
}

.buy-now button:hover {
    cursor: pointer;
    background-color: #e8592a;
}

.pricing-card h2 {
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #fff;
    background: #ff5821;
    box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
}

/* faq-section */

.faq-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFF9F7;
}

.faq-text {
    text-align: center;
}

.faq-text h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.faq-text p {
    font-family: "Open Sans", sans-serif;
    color: #313030;
    margin-bottom: 30px;
}

.faq-card {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    margin: 0px 220px;
    margin-bottom: 10px;
}

.faq-card h4 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
}

.faq-card h3 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.faq-card h3:hover {
    cursor: pointer;
    color: #e8592a !important;
}

.faq-card p {
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: #313030;
}

.question {
    font-size: 24px;
    color: #ffb8a1;
    vertical-align: bottom;
    margin-right: 3px;
}

/* contact-section */

.contact-section {
    margin: 50px 0;
}

.contact-section-text {
    text-align: center;
}

.contact-section-text h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #635551;
}

.contact-section-text p {
    font-family: "Open Sans", sans-serif;
    color: #313030;
    margin-bottom: 30px;
}

.contact-cards {
    display: flex;
    justify-content: center;
}

.contact-card {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px;
    width: 270px;
}

.map {
    font-size: 32px;
    color: #ff5821;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #ffded4;
    margin-right: 10px;
    float: left;
}

.contact-card h4 {
    font-size: 20px;
    color: #656262;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contact-card p {
    margin-left: 65px;
    line-height: 24px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.contact-card-2 {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px;
    width: 270px;
    margin: 0px 40px;
}

.contact-card-2 h4 {
    font-size: 20px;
    color: #656262;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contact-card-2 p {
    margin-left: 65px;
    line-height: 24px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.form {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 443px;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 50%;
}

.input-1 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: 427px;
    height: 40px;
    padding: 0px 15px;
}

.input-1:focus {
    outline-color: #f6a184;
}

.input-2 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: 427px;
    height: 40px;
    margin-left: 20px;
    padding: 0px 15px;
}

.input-2:focus {
    outline-color: #f6a184;
}

.subject-input {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: 915px;
    margin-top: 20px;
    height: 40px;
    padding: 0px 15px;
}

.subject-input:focus {
    outline-color: #f6a184;
}

.textarea {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: 915px;
    margin-top: 20px;
    padding: 10px 15px;
}

.textarea:focus {
    outline-color: #f6a184;
}

.send-btn {
    margin-left: 400px;
    margin-top: 20px;
    background: #ff5821;
    border: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 10px 24px;
    color: #fff;
}

.send-btn:hover {
    cursor: pointer;
    background-color: #f78059;
}

/* footer-tag */

.footer-tag {
    padding-top: 50px;
    background-color: #FFF9F7;
    position: relative;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer-contact h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: .5rem;
    font-size: 1.75rem;
    font-weight: 500;
}

.footer-contact p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #656262;
}

.links h1 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #313030;
    padding-bottom: 5px;
}

.links ul li {
    list-style-type: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #656262;
    line-height: 40px;
}

.chevron-right {
    padding-right: 2px;
    color: #ffa587;
    font-size: 18px;
    vertical-align: sub;

}

.links ul li:hover {
    cursor: pointer;
    color: var(--text-color);
}

.newsletter h1 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #313030;
    padding-bottom: 15px;
}

.newsletter p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.input-email {
    margin-top: 30px;
    background: #fff;
    padding: 14px 16px;
    border-radius: 50px;
    border: 1px solid #ffe2d9;
    width: 80%;
}

.submit {
    padding: 12px 30px;
    font-family: inherit;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 50px;
    background: #ff5821;
    color: #fff;
    transition: 0.3s;
    position: absolute;
    top: 153px;
    right: 180px;
}

.submit:hover {
    cursor: pointer;
    background-color: #eb511d;
}

.copyright {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.copyright span {
    color: #313030;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.copyright a {
    text-decoration: none;
    color: var(--text-color);
}

.socail-icons {
    display: flex;
    justify-content: end;
    margin-top: -43px;
}

.socail-icon-1 {
    font-size: 20px;
    background: #ff5821;
    color: #fff;
    padding: 10px 10px;
    margin-right: 4px;
    border-radius: 50%;

}

.socail-icon-1:hover {
    cursor: pointer;
    background-color: #f37b53;

}